<section class="examples-container">
  <div class="row no-gutters">
    <div class="col microphones" id="mic">
      <ch5-list class="ch5-custom-list" style="align-items: center;" maxHeight="100%" orientation="horizontal" indexId="idx"
        scrollbar="true" receiveStateSize="Room.NumberOfLights">
        <template>
          <div class="vertical-list-item">
            <span class="label" style="text-align: center; white-space: break-spaces; min-height: 50px; align-items: flex-end; display: flex; justify-content: center;" data-ch5-textcontent="Room.DimmableLights[{{idx}}].NameOfLight">Label</span>
            <span class="label" style="text-align: center;" data-ch5-textcontent="Room.DimmableLights[{{idx}}].NumberOfMicrophone">Label</span>
            <div class="align-items-center">
              <div class="row">
                <ch5-slider class="lighting-sliders" stretch="width" handleShape="circle"
                sendEventOnChange="Room.DimmableLights[{{idx}}].SetLightLevel"
                receiveStateValue="Room.DimmableLights[{{idx}}].LightIsAtLevel" orientation="vertical" onclick="eventModule.gestureableClick()"></ch5-slider>
              </div>
                
              <div class="row">
                <ch5-button class="lighting-button" shape="circle"
                sendEventOnClick="Room.DimmableLights[{{idx}}].TurnLightOff" onclick="eventModule.gestureableClick()" iconClass="fas fa-microphone-slash">
                </ch5-button>
              </div>
            </div>
          </div>
        </template>
      </ch5-list>
    </div>
    <aside class="col lighting-sidebar" id="eventSidebar">
      <div class="row">
        <div class="col">
          <ch5-button customclass="camera-button" type="primary" shape="rectangle" label="Presenter Camera"
          onclick="eventModule.onClickPresentCamera()">
        </ch5-button>
        </div>
        
      </div>
      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <div class="camera-control-buttons">
              <ch5-image class="top-button" url="./assets/img/button.png" onclick="eventModule.onClickTop()"></ch5-image>
              <ch5-image class="left-button" url="./assets/img/button.png" onclick="eventModule.onClickLeft()"></ch5-image>
              <ch5-image class="right-button" url="./assets/img/button.png" onclick="eventModule.onClickRight()"></ch5-image>
              <ch5-image class="bottom-button" url="./assets/img/button.png" onclick="eventModule.onClickBottom()"></ch5-image>
          </div>
        </div>

        <div class="col">
          <div>
            <div class="align-items-center" style="text-align: center;">
                <p>Zoom in</p>
                <ch5-slider id="camera-zoom" class="zoom-sliders" stretch="width" handleShape="circle"
                sendEventOnChange="Room.Camera.SetLevel"
                receiveStateValue="Room.Camera.IsAtLevel"
                orientation="vertical" onclick="eventModule.gestureableClick()"></ch5-slider>
                <p>Zoom out</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4 text-center">
          <ch5-button id="preset-0" customclass="camera-button" type="primary" shape="rectangle" label="Preset 1"
          onclick="eventModule.onClickPreset(this)" onpress="eventModule.onPressPreset()" onrelease="eventModule.cancelPresetTimeout()">
          </ch5-button>
        </div>
        <div class="col-4 text-center">
          <ch5-button id="preset-1" customclass="camera-button" type="primary" shape="rectangle" label="Preset 2"
          onclick="eventModule.onClickPreset(this)" onpress="eventModule.onPressPreset()" onrelease="eventModule.cancelPresetTimeout()">
          </ch5-button>
        </div>
        <div class="col-4 text-center">
          <ch5-button id="preset-2" customclass="camera-button" type="primary" shape="rectangle" label="Preset 3"
          onclick="eventModule.onClickPreset(this)" onpress="eventModule.onPressPreset()" onrelease="eventModule.cancelPresetTimeout()">
          </ch5-button>
        </div>
      </div>

      <div class="row">
        <div class="col-4 text-center" data-ch5-textcontent="Room.Camera.Preset[0].IsAtLevel">
          0
        </div>
        <div class="col-4 text-center" data-ch5-textcontent="Room.Camera.Preset[1].IsAtLevel">
        0
        </div>
        <div class="col-4 text-center" data-ch5-textcontent="Room.Camera.Preset[2].IsAtLevel">
        0
        </div>
      </div>
    </aside>
  </div>
</section>